* {
    font-family: poppins;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    justify-content: center;
    height: 120px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.mobile {
    display: flex;
    flex-direction: row;
    justify-items: right; 
}

.logo {
    display: flex;
    align-items: center;
}

#logoName {
    margin-left: 20px;
    font-family: poppins;
    font-weight: 600;
    font-size: 30px;
    color: rgb(0, 105, 157);
    text-decoration: none;
}

.menu {
    display: flex;
    align-items: center;

}

nav ul, nav li {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    
    margin: 2px;
    padding: 15px;
    
    font-family: poppins;
    text-decoration: none;
}

nav .active a, nav a:hover {
    background-color: rgb(0, 105, 157);
    color: white;
}

#banner {
    display: flex;
    justify-content: center;
    background-image: url(/medClinic/assets/images/banner.jpg);
    background-position: center;
    background-size: cover;
    height: 670px;
}

.column {
    flex-direction: column;
}

.banner_head {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner_head h1 {
    color: whitesmoke;
    font-family: poppins;
    font-size: 65px;
    margin: 0px;
    padding: 0px;
    max-width: 400px;
    padding-bottom: 0px;
}

.banner_head h2 {
    color: whitesmoke;
    font-family: poppins;
    font-size: 25px;
    margin: 0px;
    margin-top: 30px;
    padding: 0px;
    max-width: 400px;
}

.banner_bottom {
    height: 210px;
    display: flex;
}

.section1, .section2, .section3 {
    flex: 1;
    color: whitesmoke;
    padding: 20px;
}

.section1 {
    background-color: #39aae1;
}

.section2 {
    background-color: #0079c7;
}

.section3 {
    background-color: #2b4c99;
}

.section_title1, .section_title2, .section_title3 {
    font-size: 25px;
}

.section_description1, .section_description2, .section_description3 {
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.section1 a, .section2 a {
    text-decoration: none;
    font-size: 12px;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    padding: 5px;
}

.section1 a:hover, .section2 a:hover {
    background-color: whitesmoke;
    color: rgb(0, 105, 157);
}

.hour {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid whitesmoke;
}

#general {
    display: flex;
    justify-content: center;
}

#general section {
    flex: 2;
}

#general aside {
    flex: 1;
}

.widget_title {
    margin-top: 30px;
    margin-bottom: 20px;
}

.widget_title_text {
    color: black;
    font-size: 21px;
}

.widget_title_bar {
    width: 60px;
    height: 3px;
    background-color: #39aae1;
    margin-top: 10px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

article {
    flex: 1;
    margin-right: 30px;
    max-width: 420px;
}

.widget_body a {
    text-decoration: none;
}

article .news_date {
    display: flex;
}

article .news_posted_at {
    background-color: #2b4c99;
    color: whitesmoke;
    font-size: 12px;
    padding: 10px;
}

article .news_comments{
    background-color: #39aae1;
    color: whitesmoke;
    font-size: 12px;
    padding: 10px;
    margin-left: 2px;
}

article .news_thumb {
    margin-top: 30px;
}
article .news_thumb img {
    width: 100%;
    height: auto;
}

article .news_title {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 25px;
}

article .news_description {
    color: #5c5c5c;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 30px;
}

.departaments {
    margin-bottom: 40px;
}

.departaments img {
    max-width: 200px;
    border-radius: 100px;
}

.appointment {
    display: flex;
    align-items: center;
}

.appointment img {
    max-width: 30px;
    height: auto;
    margin-right: 20px;
}

.appointment p {
    font-size: 13px;
}

footer {
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
}

.footer_menu{
    display: flex;
    flex: 1;
}

.footer_menu a {
    text-decoration: none;
    color: whitesmoke;
}

.footerp1, .footerp2, .footerp3 {
    flex: 1;
    color: whitesmoke;
    padding: 20px;
}

.footerp1 {
    background-color: #39aae1;
}

.footerp2 {
    background-color: #0079c7;
}

.footerp3 {
    background-color: #2b4c99;
}

.footer_bottom {
    display: flex;
    margin-bottom: 30px;
}

.footer_bottom1, .footer_bottom2, .footer_bottom3 {
    flex: 1;
    color: whitesmoke;
}

.footer_bottom_title {
    margin-top: 30px;
    margin-bottom: 20px;
}

.footer_bottom_title_text {
    color: whitesmoke;
    font-size: 21px;
}

.footer_bottom_title_bar {
    width: 60px;
    height: 3px;
    background-color: #39aae1;
    margin-top: 10px;
}

.footer_title {
    font-size: 20px;
}

.footer_description {
    font-size: 11px;
}

.footer_bottom_title_text {
    font-size: 18px;
}

.inner_description div {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    display: flex;
    flex: 1;
    color: gray;
    margin-bottom: 2px;
}

.inner_description_text{
    display: flex;
    justify-content: flex-start;
}

.inner_description_text_p2 {
    text-decoration: none;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

.footer_bottom_description p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: gray;
    text-align: justify;
    margin-right: 20%;
    margin-bottom: 30px;
}

#mailing {
    color: whitesmoke;
}

.icons img {
    display: flex;
    max-width: 30px;
    flex: 1;
    margin-top: 30px;
    margin-right: 5px;
    border-radius: 10px;
}

.copyright {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 10px;
    color: whitesmoke;
    border-top: solid 1px whitesmoke;
}

.menu_mobile {
    display: none;
}

.upper {
    display: none;
}

@media screen and (max-width: 1500px) {

    .departaments {
        margin-bottom: 20px;
    }

    .departaments img {
        max-width: 190px;
    }

}

@media screen and (max-width: 1450px) {
    
    .departaments {
        margin-bottom: 20px;
    }
    
    .departaments img {
        max-width: 180px;
    }
}

@media screen and (max-width: 1350px) {
    
    #logoName {
        font-size: 30px;
        text-align: center;
    }
    
    nav a {
        padding: 10px;
    }
    
    .departaments {
        margin-bottom: 20px;
    }
    
    .departaments img {
        max-width: 170px;
    }
}

@media screen and (max-width: 1280px) {
    
    #logoName {
        font-size: 30px;
        text-align: center;
    }

    nav a {
        padding: 10px;
    }

    .departaments {
        margin-bottom: 20px;
    }

    .departaments img {
        max-width: 165px;
    }

}

@media screen and (max-width: 1250px) {

    .departaments img {
        max-width: 150px;
    }

}

@media screen and (max-width: 1210px) {

    #logoName {
        font-size: 25px;
    }

    nav a {
        font-size: 14px;
    }

}

@media screen and (max-width: 1125px) {

    #logoName {
        font-size: 23px;
    }

    nav a {
        font-size: 13px;
    }

    .departaments img {
        max-width: 130px;
    }
}

@media screen and (max-width: 1024px) {

    #logoName {
        font-size: 22px;
    }

    nav a {
        font-size: 13px;
        padding: 8px;
    }

}

@media screen and (max-width: 800px) {

    .container {
        flex-direction: column;
        width: 100%;
    }

    header {
        height: auto;
        flex-direction: row;
    }
    
    .logo {
        justify-content: center;
        padding-top: 15px;
    }

    .menu{
        justify-content: center;
        height: auto;
    }

    .menu_mobile {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        margin-top: 10px;
    }

    .menu_mobile img {
        max-height: 30px;
        max-width: 30px;
    }

    .upper {
        display: none;
    }

    .menu nav ul {
        flex-direction: column;
        align-items: center;
        display: none;
        margin-top: 50px;
        margin-bottom: 20px;
    }

    #banner {
        flex-direction: column;
        height: auto;
        width: 100%;
    }

    .banner_head {
        padding: 10%;
    }

    .banner_head h1 {
        font-size: 50px;
    }

    .banner_head h2 {
        font-size: 20px;
    }

    .banner_bottom {
        flex-direction: column;
        height: auto;
        text-align: center;
    }

    .flex {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    a article {
        max-width: 700px;
        margin: 0;
        padding-left: 50px;
        padding-right: 50px;
    }

    .widget_title {
        padding-left: 50px;
    }

    .news_date {
        padding-left: 0%;
    }

    .news_description {
        text-align: justify;
    }

    .departaments img {
        max-width: 200px;
        margin-top: 50px;
    }

    .flex p {
        margin-left: 50px;
        margin-right: 50px;
        text-align: justify;
    }

    .appointment {
        flex-direction: column;
        margin-top: 15px;
    }

    .appointment img {
        margin-right: 0px;
    }

    .footer_menu {
        flex-direction: column;
        max-width: 100%;
        text-align: center;
        
    }

    .footer_bottom {
        flex-direction: column;
        padding-left: 50px;
        padding-right: 50px;
    }

    .copyright {
        text-align: center;
    }
}